<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Menu</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="pb-2 float-start">Menu Items</h2>
    <div class="row col-12">
        <div class="card shadow-sm col-12 col-md-6 item-card p-2" th:each="order: ${orders}">
            <div class="card-body">
                <p class="card-text" th:text="${order.id}" />
                <ul>
                    <li th:each="menuItemOrder: ${order.menuItemOrders}" th:text="${menuItemOrder.menuItem.name + ' : ' + menuItemOrder.quantity}"></li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <form th:action="@{/orders/finish/{id}(id=${order.id})}" method="post">
                            <input type="hidden" name="order_id" th:value="${order.id}">
                            <input type="submit" name="submit_btn" value="Mark as Finished" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>