<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/style.css">
    <style>
        .dropdown-menu{
            min-width: 500px;
        }
    </style>
</head>
<body>
<form>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
</form>
<div>
    <nav class="navbar navbar-expand-md navbar-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand d-md-none" href="#">
                Digital Menu
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a th:href="@{/login}" class="nav-link">Login</a>
                    </li>
                    <a class="navbar-brand d-none d-md-block" href="#">
                        Digital Menu
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="shoppingCartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Shopping Cart
                        </a>
                        <ul class="dropdown-menu dropdown-large" aria-labelledby="shoppingCartDropdown" id="shoppingCartDropdownList">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div th:insert="fragments/flash"></div>
    <div>
        <h1 class="text-danger">Menu</h1>
        <h5 class="pb-2 col-12 float-start my-2" th:text="'There are '+ ${#lists.size(menuItems)} + ' available items:'"></h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="menuItem: ${menuItems}" th:data-id="${menuItem.id}">
                <div class="card shadow-sm">
                    <img th:src="@{/upload/{imagePath}(imagePath=${menuItem.imagePath})}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <div class="float-start"></div>
                        <h2 class="card-text text-danger mb-3" th:data-name="${menuItem.name}" th:text="${menuItem.name}"></h2>
                        <p class="card-text text-muted" th:data-description="${menuItem.description}" th:text="${menuItem.description}"></p>
                        <span class="badge text-dark bg-warning" th:text="${menuItem.menuItemType.name}"></span>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" th:onclick="'addItemToCart(' + ${menuItem.id} + ')'">Order</button>
                            </div>
                            <h4 class="text-danger" th:data-price="${menuItem.price}" th:text="${menuItem.price} + ' lei'"></h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<footer class="fixed-bottom">
    <div class="text-center">
        <div class="container text-center">
            <p>&copy; Digital Menu </p>
        </div>
    </div>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var shoppingCart = [];
    function addItemToCart(menuItemId) {
        // add element to shopping cart if it doesn't exist else increment quantity
        var menuItemOrder = shoppingCart.find(menuItemOrder => menuItemOrder.menuItem.id === menuItemId);
        var menuItem;

        if (menuItemOrder) {
            menuItemOrder.quantity++;
        } else {
            menuItem = {
                id: menuItemId,
                name: $('.col[data-id="' + menuItemId + '"] [data-name] ').text(),
                price: $('.col[data-id="' + menuItemId + '"] [data-price]').text().slice(0, -4),
                description: $('.col[data-id="' + menuItemId + '"] [data-description]').text().slice(0, -4),
            };

            let menuItemOrder = {
                menuItem: menuItem,
                quantity: 1
            };

            shoppingCart.push(menuItemOrder);
        }

        updateShoppingCart();
    }

    function removeItemFromCart(menuItemId) {
        shoppingCart = shoppingCart.filter(menuItemOrder => menuItemOrder.menuItem.id !== menuItemId);
        updateShoppingCart();
    }

    function updateShoppingCartFooter(){
        if (shoppingCart.length === 0) return;

        let totalPrice = 0;
        shoppingCart.forEach(function (menuItemOrder) {
            totalPrice += parseFloat(menuItemOrder.menuItem.price) * menuItemOrder.quantity;
        });

        $('#shoppingCartDropdownList').append('<li class="dropdown-item"><b>Total price: ' + totalPrice + ' lei</b></li>');

        $('#shoppingCartDropdownList').append('<li class="dropdown-item"><button type="button" class="btn btn-sm btn-outline-secondary" onclick="order()">Order</button></li>');
    }

    function order(){
        var csrfToken = $('input[name="_csrf"]').val();

        $.ajax({
            url: "/orders/add",
            type: 'POST',
            data: JSON.stringify(shoppingCart),
            contentType: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
            },
            success: function (data) {
                data = JSON.parse(data);
                Swal.fire({
                    icon: 'sueccess',
                    title: 'The order was created!',
                    text: 'Your order number is ' + data.id,
                })
                shoppingCart = [];
                updateShoppingCart();
            },
            error: function (data){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
            }
        });
    }

    function updateShoppingCart() {
        var shoppingCartDropdown = $('#shoppingCartDropdownList');
        shoppingCartDropdown.empty();
        $.each(shoppingCart, function (k, menuItemOrder) {
            let menuItem = menuItemOrder['menuItem'];
            shoppingCartDropdown.append('<li><div class="ms-2">' + menuItem.name + ' - ' + menuItem.price + ' x' + menuItemOrder.quantity + '<span class="text-danger" onclick="removeItemFromCart(' + menuItem.id + ')"> Delete</span></div></li>');
        });
        updateShoppingCartFooter();
    }

</script>

</body>
</html>