<nav class="navbar navbar-expand-md navbar-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none" href="#">
      Digital Menu
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a th:href="@{/users}" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/menu-items}" class="nav-link">Menu</a>
        </li>
        <a class="navbar-brand d-none d-md-block" href="#">
          Digital Menu
        </a>
        <li class="nav-item">
          <a th:href="@{/menu-item-types}" class="nav-link">Menu Item Types</a>
        </li>
        <li>
          <a class="nav-link mx-2 dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            [[${#request.userPrincipal.principal.fullName}]]
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item">
              <form th:action="@{/logout}" method="post">
                <input class="btn btn-secondary" type="submit" value="Sign Out">
              </form>
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>