<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom px-4" th:fragment="header">
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a th:href="@{/users}" class="nav-link px-2 link-secondary">Users</a></li>
    <li><a th:href="@{/menu-items}" class="nav-link px-2 link-secondary">Menu</a></li>
    <li><a th:href="@{/menu-item-types}" class="nav-link px-2 link-secondary">Menu Item Types</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="#" class="btn btn-outline-primary disabled me-2" disabled>Login</a>
  </div>
</header>