<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Menu</title>
</head>
<body>
<div layout:fragment="content">

    <h2 class="pb-2 border-bottom">Users</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}" />
            <td th:text="${user.firstName}" />
            <td th:text="${user.lastName}" />
            <td th:text="${user.email}" />
        </tr>
    </table>
</div>
</body>
</html>