<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Login</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form method="post" th:action="@{/users/register}" th:object="${User}" id="addUserForm">
                    <div class="mb-3">
                        <label for="emailField" class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="Email" id="emailField" th:field="*{email}" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordField" class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="passwordField" th:field="*{password}" required>
                    </div>
                    <div class="col-md-6 mt-4">
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>