<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/form_layout}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/register}" th:object="${User}" id="addUserForm">
        <h3>Register</h3>
        <label  class="form-label">First and Last name</label>
        <div class="input-group mb-3">
            <input type="text" placeholder="First name" class="form-control" th:field="*{firstName}" required>
            <input type="text" placeholder="Last name" class="form-control" th:field="*{lastName}" required>
        </div>
        <div class="mb-3">
            <label for="emailField" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Email" id="emailField" th:field="*{email}" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="passwordField" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="passwordField" th:field="*{password}" required>
        </div>
        <div class="col-md-6 mt-4">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>

    </form>
</div>
</body>

</html>