<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Names</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="user: ${listUsers}">
    <tr>
      <td>[[${user.id}]]</td>
      <td>[[${user.email}]]</td>
      <td>[[${user.firstName}]]</td>
      <td>[[${user.lastName}]]</td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>